@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(98, 98, 98);

}
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
    gap: 2em;
    justify-content: center;
    padding: 3em 0;
}
.flex {
    display: flex;
    align-items: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-sa {
    justify-content: space-around;
}
.jc-se {
    justify-content: space-evenly;
}
.wrap {
    flex-wrap: wrap;
}
.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1920px;
}
h1, h2 {
    font-family: 'Roboto Slab', serif;
}
h1, h2, h3 {
    color: rgb(53, 53, 53);
}
p {
    color: rgb(98, 98, 98);
}
a {
  text-decoration: none;
  color: rgb(98, 98, 98);  
}
.icon:hover path {
    fill: rgb(37, 230, 200);
}
.about svg, .showcase svg, .top {
    display: none;
}
.top {
    border: 2px solid lightgrey;
    
}
.top p {
    padding-left: 0.5em;
}
.main {
    padding: 3em 0;
    align-items: center;
}
.top nav ul, .main nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.top nav ul li {
    padding-left: 1.5em;
}
.main a:hover {
    color: rgb(37, 230, 200);
}
.main nav ul li {
    padding: 0 0.5em;
}
.showcase {
    background-color: rgb(222, 222, 222);
}
.flexshow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em;
    margin: 0 auto;
    max-width: 1600px;
}
.showcase h1 {
    font-size: 3em;
}
.showcase2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.showp {
    padding-bottom: 2em; 
}
.showcaseknapp {
    background-color: rgb(37, 230, 200);
    padding: 1em 2em;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    width: auto;
    margin: 1em 5em;
    text-align: center;
}
.showcaseknapp:hover{
    background-color: rgb(37, 175, 230);
}
.about {
    padding-top: 4em;
    padding-bottom: 4em;
}
.about h2 {
    border-bottom: 3px solid turquoise;
    padding-bottom: 1em;
    font-size: 2.5em;
}
.namecolor {
    color:  rgb(37, 175, 230);
}
.info {
    flex: 1;
}
.aboutul {
    display: flex;
    padding-top: 2em;
}
.aboutbottom {
    padding-left: 3em;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
}
.services {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
}
.services h3 {
    text-align: center;
    border-bottom: 4px solid turquoise;
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
}
.card:hover > .cardicon {
    background-color: rgb(37, 175, 230);
}
.cardicon {
    position: relative;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    background-color: rgb(37, 230, 200);
    margin-bottom: 2em;
}
.svgicon {
    height: 4em;
    width: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.appointment {
    background-color: rgb(37, 175, 230, 0.9);
    padding: 4em 0;
    text-align: center;
}
.appointment h3 {
    color: white;
}
.appointment p {
    background-color: white;
    padding: 1em 2.5em;
    border-radius: 5px;
    color: rgb(43, 170, 236);
    font-weight: 700;
}
.appointment p:hover {
    background-color: rgb(37, 175, 230);
    color: white;
    box-shadow:inset 0px 0px 0px 1px white;
}
footer {
    background-color: rgb(37, 175, 230);
    padding: 0.8em;
    text-align: center;
}
footer p {
    color: rgb(255, 255, 255, 0.6);
    font-size: 0.9em;
}
@media (min-width: 920px) {
    .container {
        padding: 0 4em;
    }
    .about svg, .top {
        display: block;
    }
    .about {
       padding-bottom: 0;
    }
    .main .jc-se {
        justify-content: space-between;
    }
    .main nav ul li {
        padding-left: 1.5em;
        padding-right: 0;
    }
    .flexshow {
        padding-top: 2em;

    }
    .appointment .jc-sa{
        justify-content: space-between;
    }
    .showcaseknapp {
        margin: 3em auto;
    }
}
@media (min-width: 1220px) {
    .container {
        padding: 0 7em;
    }
    .showcase svg {
        display: block;
    }
    .showcaseknapp {
        width: 40%;
        margin: 0;
    }
}