$yellow:    #ffbb00;
$darkgray:  #626262;
$gray:      #8a8a8a;
$lightgray: #dedede;
$black:     #363636;
$teal:      #25e6c8;
$darkblue:  #163c70;
$blue:      #1487FD;
$lightblue: #2baaec;
$white:     #ffffff;
$black:     #000000;

$primary:           $lightblue;
$secondary:         $teal;
$bgprimary:         $white;
$bgsecondary:       $lightgray;